<body>
    <header>
        <div class="contenedor">
            <nav class="menu">
                <a href="#" id="btn-acerca-de">Quien Soy</a>
                <a href="#" id="btn-menu">Música</a>
                <a href="#" id="btn-galeria">Galeria</a>
                <a href="#" id="btn-entrevistas">Entrevistas</a>
                <a href="#" id="btn-ubicacion">Reflexiones</a>
                <a href="#" id="btn-contacto">Contacto</a>
                
            </nav>

            <div class="textos">
                <h1 class="nombre">Esteban Leal <span></span></h1>
                <h3>El Payador Cristiano</h3>
            </div>
        </div>
    </header>

    <section class="main">
        <section class="acerca-de" id="acerca-de">
            <div class="contenedor">
                <div class="foto">
                    <img src="assets/img/acerca_de2.jpg" alt="">
                </div>
                <article>
                    <h3>Esteban Leal</h3>
                    <p>Cantautor y compositor cristiano, nacido en Concepción, Chile. Mi misión es que más personas conozcan a Cristo, mediante la música y el mensaje de la palabra de Dios.
                    </p>

                    <p>"Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;", Mateo 28:19</p>
                </article>
            </div>
        </section>

        <section class="menu">
            <div class="contenedor">
                <h3 class="titulo" id="platillos">Música</h3>
                <div class="container">

                    <h3>Canciones de Esteban Leal</h3>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="foto">Foto</th>
                                            <th>Track</th>
                                            <th class="cancion">Canción</th>
                                            <!--<th class="album">Album</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="foto">
                                                <img src="assets/img/acerca_de2.jpg" class="img-fluid img-50">
                                            </td>
                                            <td>
                                                <audio controls>
					                                <source src="assets/media/musica/Oracion_de_Jesus.mp3">
					                             </audio>
                                            </td>
                                            
                                            <td class="cancion">Oración de Jesús</td>
                                            <!--<td class="album">Última Semana</td>-->
                                            
                                        </tr>
                                        <tr>
                                            <td class="foto">
                                                <img src="assets/img/esteban/7.jpg" class="img-fluid img-50">
                                            </td>
                                            <td>
                                                <audio controls>
					                                <source src="assets/media/musica/Hay_que_ser_bueno_con_la_viejita.mp3">
					                            </audio>
                                            </td>
                                            
                                            <td class="cancion">Hay que ser bueno con la viejita</td>
                                            <!--<td class="album">Vivencias</td>-->
                                           
                                        </tr>
                                        <tr>
                                            <td class="foto">
                                                <img src="assets/img/esteban/7.jpg" class="img-fluid img-50">
                                            </td>
                                            <td>
                                                <audio controls>
													<source src="assets/media/musica/Existe_Dios.mp3">
										        </audio>
                                            </td>
                                            
                                            <td class="cancion">Existe Dios</td>
                                            <!--<td class="album">Vivencias</td>-->
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="galeria" id="galeria">
            <div class="foto">
                <img src="assets/img/esteban/1.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/2.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/3.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/4.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/5.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/6.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/7.jpg" alt="">
            </div>
            <div class="foto">
                <img src="assets/img/esteban/1.jpg" alt="">
            </div>
        </section>

        <section class="ubicacion fondo" id="entrevistas">
            <div class="container">
                <h3 class="titulo">Entrevistas</h3>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>Canto a lo divino - Especial Navidad.</h3>
                        <br>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/T8gygDvaaLQ"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h3>Testimonio de Esteban Leal, dirigido a las iglesias de Corea.</h3>
                        <br>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/oi4Yi00tO0Y"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h3>Participación Esteban Leal en 9° Sesión del Seminario Bíblico Online con el pastor Ock Soo Park</h3>
                        <br>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/nT9uU6vOOBI"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 text-center">
                      <h3>Entrevista online en programa "Conversaciones de fe con el pastor Esteban Leal"</h3>
                      <br>
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/oRKoH-O2PrE"></iframe>
                      </div>
                  </div>
                  <div class="col-sm-6 text-center">
                      <h3>Entrevista en Programa Ministerios de fe | Invitado Especial Pastor: Esteban Leal</h3>
                      <br>
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/AOa2I7AH7uU"></iframe>
                      </div>
                  </div>
              </div>
            </div>
        </section>

        <section class="ubicacion" id="ubicacion">
            <div class="contenedor">
                <h3 class="titulo">Reflexiones</h3>
                <div class="text-center">
                    <img src="assets/img/biblia.jpg" class="img-fluid img-150">
                </div>
                <div class="text-center">
                    <h3>¿Cree Ud. en los milagros? ¿Cuál fue su último milagro en su vida?</h3>
                </div>
                <br>
                <div class="text-center">
                    <audio controls>
                        <source src="assets/media/audio/reflexion.m4a">
                     </audio>
                </div>
            </div>
        </section>

    </section>

    <footer>
        <div class="contenedor" id="contacto">
            <div class="copyright">
                <div class="row">
                    <div class="">
                        <h4 class="titulo">Contacto</h4>
                        <p class="calle">Si deseas agendar una presentación, entrevista, contactarse a:<br /></p>
                        <p class="calle">Esteban Leal <br /></p>
                        <p class="correo">lealpuma@gmail.com </p>
                        <p class="correo">+5698840593</p>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <a href="https://www.facebook.com/Esteban-Leal-El-Payador-Cristiano-615196025579686"  target="_blank" class="foto">
                    <img src="assets/img/facebook.png" class="img-fluid img-50">
                </a>
                <a href="https://www.youtube.com/channel/UCt9Od1BqDoz7X4FanEWzveQ?view_as=subscriber" target="_blank" class="foto">
                    <img src="assets/img/youtube.png" class="img-fluid img-50">
                </a>
                <a href="https://open.spotify.com/album/3lA9WpLPN4ey5ouEaGrwk3?si=q7KQiJ7zT8KtTfsaFjt-eg" target="_blank" class="foto">
                    <img src="assets/img/spotify.png" class="img-fluid img-50">
                </a>
            </div>
            <div class="copyright">
                <p>Copyright estebanleal@2020</p>
            </div>
        </div>
    </footer>
</body>